@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine-dark/sass/_ag-theme-alpine-dark-mixin.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

.ag-theme-alpine-dark {
  @include ag-theme-alpine-dark((
      grid-size: 4px
  ));
}

.ag-theme-alpine-dark-large {
  @include ag-theme-alpine-dark((
    grid-size: 5px
  ));
}

.ag-root ::-webkit-scrollbar {
  width: 0.5em;
  height: 0em;
  padding-right: 0.5em;
  margin-right: 0.5em;
}
.ag-root ::-webkit-scrollbar-button {
  background: rgba(0, 204, 37, 0);
  height: 0
}
.ag-root ::-webkit-scrollbar-track {
  width: 0.25em;
}

.ag-root ::-webkit-scrollbar-track-piece {
  background: rgba(136, 136, 136, 0)
}
.ag-root ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.70);
  border-radius: 5px;
  width: 0.25em;
}
